/*Style CSS V: Beta 0.1*/
@keyframes RedBlink{
    from{
        border-top-left-radius: 100px;
        background-color: #000;
    }
    50%{
        border-top-left-radius: 0px;
        background-color: #f00;
    }
    to{
        border-top-left-radius: 100px;
        background-color: #000;
    }
}
@keyframes GreenBlink{
    from{
        border-top-right-radius: 100px;
        background-color: #000;
    }
    50%{
        border-top-right-radius: 0px;
        background-color: #0f0;
    }
    to{
        border-top-right-radius: 100px;
        background-color: #000;
    }
}
@keyframes BlueBlink{
    from{
        border-bottom-left-radius: 100px;
        background-color: #000;
    }
    50%{
        border-bottom-left-radius: 0px;
        background-color: #00f;
    }
    to{
        border-bottom-left-radius: 100px;
        background-color: #000;
    }
}
@keyframes YellowBlink{
    from{
        border-bottom-right-radius: 100px;
        background-color: #000;
    }
    50%{
        border-bottom-right-radius: 0px;
        background-color: #ff0;
    }
    to{
        border-bottom-right-radius: 100px;
        background-color: #000;
    }
}
*{
    position: fixed;
}
body{
    background-color: #505050;
}
#Circle{
    background-color: #303030;
    margin-top: 10vh;
    margin-left: 25vw;
    height: 50vh;
    width: 50vw;
    border: 2px solid #a0a0a0;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}
#B_Red{
    color: #f00;
    background-color: #000;
    margin-left: 15vw;
    margin-top: 5vw;
    width: 5vw;
    height: 5vw;
    border-top-left-radius: 100px;
    border: 2px solid #c0c0c0;
}
#B_Green{
    color: #0f0;
    background-color: #000;
    margin-left: 25vw;
    margin-top: 5vw;
    width: 5vw;
    height: 5vw;
    border-top-right-radius: 100px;
    border: 2px solid #c0c0c0;
}
#B_Blue{
    color: #00f;
    background-color: #000;
    margin-left: 15vw;
    margin-top: 15vw;
    width: 5vw;
    height: 5vw;
    border-bottom-left-radius: 100px;
    border: 2px solid #c0c0c0;
}
#B_Yellow{
    color: #ff0;
    background-color: #000;
    margin-left: 25vw;
    margin-top: 15vw;
    width: 5vw;
    height: 5vw;
    border-bottom-right-radius: 100px;
    border: 2px solid #c0c0c0;
}
#Init_Clear{
    color: #222;
    font-size: 0.9em;
margin-left: 20vw;
margin-top: 10vw;
width: 5vw;
height: 5vw;
background-color: #ede;
border: 5px ridge #fff;
border-radius: 100px;
}
#StepsDescription{
    background-color: #202020;
    width: 19.5vw;
    height: 2.7vh;
    border: 2px solid #fff;
    font-family: cursive;
    margin-left: 30vw;
    margin-top: 47vh;
    color: #fff;
    font-size: 20px;
}
#Steps{
    height: 2.2vh;
    width: 12vw;
    font-family: cursive;
    background-color: #404040;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 100px;
    border: 2px solid #fff;
    color: #fff;
}
.B_RedBlink{
animation: 1s RedBlink alternate ;
}
.B_GreenBlink{
animation: 1s GreenBlink alternate ;
}
.B_BlueBlink{
animation: 1s BlueBlink alternate ;
}
.B_YellowBlink{
animation: 1s YellowBlink alternate ;
}
#Refs{
    color: #fff;
    margin-top: 55vh;
    margin-left: 43vw;
}
#GameStatus{
    color: #bab;
}
#Round{
    margin-left: 13vw;
    color: #fab;
}
@keyframes RedMark{
    from{
        border-top-left-radius: 100px;
        background-color: #000;
    }
    50%{
        border-top-left-radius: 0px;
        background-color: #f00;
    }
    to{
        border-top-left-radius: 100px;
        background-color: #000;
    }
}
@keyframes GreenMark{
    from{
        border-top-right-radius: 100px;
        background-color: #000;
    }
    50%{
        border-top-right-radius: 0px;
        background-color: #0f0;
    }
    to{
        border-top-right-radius: 100px;
        background-color: #000;
    }
}
@keyframes BlueMark{
    from{
        border-bottom-left-radius: 100px;
        background-color: #000;
    }
    50%{
        border-bottom-left-radius: 0px;
        background-color: #00f;
    }
    to{
        border-bottom-left-radius: 100px;
        background-color: #000;
    }
}
@keyframes YellowMark{
    from{
        border-bottom-right-radius: 100px;
        background-color: #000;
    }
    50%{
        border-bottom-right-radius: 0px;
        background-color: #ff0;
    }
    to{
        border-bottom-right-radius: 100px;
        background-color: #000;
    }
}
.MarkRed{
    animation: 0.2s RedMark infinite;
}
.MarkGreen{
    animation: 0.2s GreenMark infinite;
}
.MarkBlue{
    animation: 0.2s BlueMark infinite;
}
.MarkYellow{
    animation: 0.2s YellowMark infinite;
}