<header>
   <div id="Controller">
      <button id="RunMatchAuto" class="ControllersStructure" onclick="InitGame('RunMatchAuto')">Start Match</button> <!-- AUTO => One Button to Start and Stop the Match -->
   </div>
</header>