<!-- HTML INDEX V: 0.1-->
<!DOCTYPE html>
<html lang="en">
    <%- include('../Structures/head.ejs') %>
<body>
    <%- include('../Structures/header.ejs') %>
    <%- include('../Structures/main.ejs') %>
</body>
<script src="js/index.js"></script>
<script src="js/Process.js"></script>
</html>